<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Tink module</title>
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/tink-core/dist/tink.css" />
  <!-- endbower -->
</head>
<body>

<script type="text/ng-template" id="contentTemp.html">
  <h2 class="h4">Bedrijfseenheid aanpassen</h2>
  <div class="form-group">
    <label for="input-name">Naam</label>
    <input type="text" id="input-name" placeholder="Voornaam / Achternaam">
  </div>
  <div class="form-group">
    <label for="input-code">Code</label>
    <input type="text" id="input-code" placeholder="XXXX">
  </div>
  <div ng-repeat="la in ctrl.klanten">{{la}}</div>
  <button data-ng-click="$dismiss('cloes')">dism</button>
  <button data-ng-click="$close('cloes')">close</button>
</script>

<div ng-controller="ctrlo">
  <button ng-click="openModal()">Open the modal dialog</button>
</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<!-- endbower -->

<script src="scripts/directives/modal.js"></script>
<script src="scripts/services/modal.js"></script>

<script>
var app = angular.module('app',['tink.modal']);
app.controller('ctrlo',function($scope,$modal){
  $scope.openModal = function() {

      var modalInstance = $modal.open({
        templateUrl: 'contentTemp.html'
      });

      modalInstance.result.then(function(obj) {
        console.log(obj); // The controller is closed because of the developer
      }, function(obj) {
        console.log('Modal dismissed at: ' + new Date()); // The contoller is closed by the use of the $dismiss call
      });
    }
});
app.controller('ModalInstanceCtrl', ['$scope', '$modalInstance', function($scope, $modalInstance) {console.log("f")
  var ctrl = this;
  ctrl.klanten = {'1':0,'2':1};
  console.log($scope);
    $scope.ok = function() {
      $modalInstance.$close('ok is pressed'); // To close the controller with a success message
    }

    $scope.cancel = function() {
      $modalInstance.$dismiss('cancel is pressed'); // To close the controller with a dismiss message
    }

  }]);

</script>

</body>
</html>